<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Matador de Monstro</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="panel scores">
            <div class="score">
                <h1>🦸‍♂️ {{nomeHeroi}}</h1>
                <div class="life-bar">
                    <div class="life"
                        :class="{danger: playerLife < 20}"
                        :style="{width: playerLife + '%'}">                                                
                    </div>
                    <div v-if="ataqueEspecial > 0 || cura > 0" class="cura-ataque">
                        <ul>
                            <li v-for="(item, index) in arrayHealth">💉</li>
                        </ul>
                        <ul>
                            <li v-for="(item, index) in arrayAtack">⚡️</li>
                        </ul>
                    </div>
                </div>
                <div>{{playerLife}}%</div>
            </div>
            <div class="score">
                <h1>🧟 {{nomeMonstro}}</h1>
                <div class="life-bar">
                    <div class="life"
                        :class="{danger: monsterLife < 20}"
                        :style="{width: monsterLife + '%'}">
                    </div>
                </div>
                <div>{{monsterLife}}%</div>
            </div>
        </div>
        <div v-if="hasResult" class="panel result">
            <div v-if="monsterLife == 0" class="win">Parabéns {{nomeHeroi}}! Você venceu!!! 😃</div>
            <div v-else class="lose">Você perdeu para o {{nomeMonstro}}! 🥺</div>
        </div>
        <div class="panel buttons">
            <template v-if="running">   
                <span @click="attack(false)" class='video-game-button'>A</span>
                <span v-if="ataqueEspecial > 0" @click="attack(true)"  class='video-game-button'>B</span>  
                <span v-if="playerLife != 100 && cura > 0" @click="healAndHurt"  class='video-game-button'>C</span>  
                <!-- <button @click="attack(false)"
                    class="btn attack">🤜 Ataque</button>
                    <button @click="attack(true)"
                    class="btn especial-attack" v-if="ataqueEspecial > 0">⚡️ Ataque Especial</button>
                <button @click="healAndHurt"
                class="btn heal" v-if="playerLife != 100 && cura > 0">💉 Curar</button> -->
                <span @click="running = false" class='start-btn'>DESISTIR</span>   
                <!-- <button @click="running = false"
                class="btn give-up">🏳️ Desistir</button> -->
            </template>
            <template v-else>   
                <div class="name-player">
                    <label for="nomeHeroi">Nome do herói</label>         
                    <br>            
                    <input type="text"v-model="nomeHeroi" value="Herói">
                </div>
                <div class="name-player">
                    <label for="nomeMonstro">Nome do monstro</label>                     
                    <br>
                    <input type="text"v-model="nomeMonstro" value="Monstro">
                </div>        
                <span @click="startGame" class='start-btn'>START</span>     
                <hr> 
                <!-- <button @click="startGame"
                    class="btn new-game">🎮 Iniciar Jogo</button> -->
                    <div class="tips">
                        A = Ataque | B = Ataque especial | C = Cura
                    </div>                      
                </template>
        </div>
        <div v-if="logs.length">
            <div class="panel logs">
                <ul>
                    <li v-for="log in logs"
                    :class="log.cls"
                    class="log">{{log.text}}</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>